<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-10'>
      <h1>Hey admin</h1>
    </div>
    <div class='col-md-2'>
      <% if current_admin %>
      <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Sign In', new_admin_session_path %>
      <% end %>
    </div>
  </div>
</div>