<h1>Listing Approved Appointments</h1>
<%= render partial: "appointments", object: @active_appointments %>
<br />
<br />
<hr />
<br />
<br />
<h1>Listing Past and Cancelled Appointments</h1>

<%= render partial: "appointments", object: @inactive_appointments %>
<br />
