<h1>Listing customers</h1>

<%= render '/admin/shared/enabled_filter' %>
<div class='row'>
  <div class='col-md-6'>
  </div>
  <div class='col-md-6'>
    <div id='loader_div'>
      <%= image_tag '/loader.gif', height: '25px', width: '25px' %>
    </div>
  </div>
</div>

<div id='list_div'>
  <%= render 'index' %>
</div>

<%= javascript_include_tag 'enabled_filter' %>
