<h3>Hi <%= @staff.name.capitalize %></h3>
<% if @appointments.empty? %>
  <p>
    You have no appointments today.<br>
  </p>
<% else %>
  <p>
    You have <%= pluralize(@appointments.size, 'appointment') %> today.<br>
  </p>
  <p>
    Details:
  </p>
  <p>
    <%= render '/staffs/appointments/index' %>
  </p>
<% end %>
