  <div class="container-fluid">
  <div class='row'>
    <div class='col-md-8'>
      <h2>Welcome to AMS</h2>
    </div>
    

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <div class='col-md-4'>
      <% label_tag 'service' %>
      <%= select_tag 'service', options_for_select(get_service_options), prompt: 'Select Service' %><br>
      <% label_tag 'staff' %>
      <%= select_tag 'staff', options_for_select(Staff.all.collect { |staff| [staff.name, staff.id]}), { prompt: 'Select Service' } %>
      
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
    </div>
    <div id='calendar' style='width:700px;' class='col-md-6'>
    </div>
    <div class='col-md-3'>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#staff').children().hide()
  $('#staff').children().first().show()

  $('#service').on('change', function() {
    var value = $(this).val();
    var staff_ids = String($("#service option:selected").data('staff_ids')).split(' '),
        _this = this;
    $('#staff').children().hide()
    if(value) {
      $.each(staff_ids, function(index, staff) {
        $('#staff').children('option[value = "' + staff + '"]').show();
      });
      $('#calendar').fullCalendar('destroy');

      $('#calendar').fullCalendar({
        contentHeight: 400,
        aspectRatio: 2,
        defaultView: 'agendaWeek',
        allDaySlot: false,
        selectable: true,
        slotDuration: '00:15:00',
        snapDuration: '00:15:00',
        slotEventOverlap: false,
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'agendaWeek,agendaDay'
        },
        eventSources: [
          {
            color: 'green',
            url: '/availabilities',
            data: { 'service_id': value },
            textColor: 'blue'
          },
          {
            url: '/appointments',
            color: 'red',
            textColor: 'blue'
          }

        ],
        eventClick: function(calEvent, jsEvent, view) {
          $.ajax({
            url: 'appointments/' + calEvent['id'] + '/edit'
          })
        },
        select: function(start, end, jsEvent, view) {
          $.ajax({
            url: 'appointments/new'
          })
        },
        selectOverlap: function(event) {
          return event.rendering === 'background';
        }
      })
    }
    else {
      $('#staff').children().first().show();
      $('#staff').val('')
      $('#calendar').fullCalendar('destroy');
    }
  })

});
</script>
