  <div class="container-fluid">
  <div class='row'>
    <div class='col-md-7'>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-5'>
      <p><b>Select service to book a reservation.</b></p>
      <%= select_tag 'service', options_for_select(get_service_options), prompt: 'Select Service' %>
      <%= select_tag 'staff', options_for_select(Staff.all.collect { |staff| [staff.name, staff.id]}), { prompt: 'Select Staff', disabled: true } %>
      <p id='staff_hint' class='hidden'><b>Select a particular staff or a random staff will be assigned.</b></p>
    </div>
  </div>
  <div class='row'>
    <div id='calendar'>
    </div>
    <div class='row'>
      <div class='col-md-4'>
        <h4><span style='color: yellow'>Yellow</span> means confirmed appointments.</h4>
      </div>
      <div class='col-md-4'>
        <h4><span style='color: red'>Red</span> means past appointments.</h4>
      </div>
      <div class='col-md-4'>
        <h4 id='availability_hint' class='hidden'><span style='color: green'>Green</span> means available.</h4>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'customer_appointment' %>
