<h3>Hi Admin</h3>
<p>
  Following is the list for appointments for each staff.<br />
</p>
<% @staffs.each do |staff| %>
  <p><b><%= staff.name.humanize %></b></p>
  <% @appointments = staff.appointments.confirmed.where("start_at >= '#{ Time.now.beginning_of_day }'") %>
  <% if @appointments.empty? %>
    <p>No appointments</p>
  <% else %>
    <p><%= render '/staffs/appointments/index' %></p>
  <% end %>
<% end %>
