default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: 
  port: 5432
  pool: 5

development:
  <<: *default
  database: appointment_manager_development

 
test:
  <<: *default
  database: appointment_manager_test

production:
  <<: *default
  database: appointment_manager_production
  username: appointment_manager
  password: <%= ENV['APPOINTMENT_MANAGER_DATABASE_PASSWORD'] %>
