<h3>Hi <%= @customer.name.capitalize %></h3>
<p>
  Thank you for your recent appointment with our store.<br>
  Your appointment details are:
</p>
<p>
  <%= render '/customers/appointments/show' %>
</p>
