<h3>Hi <%= @customer.name.capitalize %></h3>
<p>
  This mail is sent to remind you of your appointment with us.<br>
  Your appointment details are:
</p>
<p>
  <%= render '/customers/appointments/show' %>
</p>
