<% if :notice %>
  <div class="row">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class='col-md-4'>
</div>

<div class='col-md-8'>
  <h1>Edit Availability</h1>

  <%= render 'form' %>

  <%= link_to 'Back', admin_availabilities_path %>
</div>