<p>
  <strong>Service:</strong>
  <%= @appointment.service.name.capitalize %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @appointment.staff.name.capitalize %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.start_at %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @appointment.duration %>
</p>
